/* Reset some default browser styles */

  
  input, select {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button
{

  background: rgb(138, 103, 168);
  border-radius: 999px;
  box-shadow: rgb(138, 103, 168) 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin:8px 0;
}
  
  button:hover {
    border: 2px solid  rgb(145, 47, 231);;
  transition: border 0.3s;
  }
  
  .error {
    color: #ff0000;
    font-size: 12px;
    margin-top: 4px;
  }
  
 
.whole
{
background-image: url('https://www.shutterstock.com/image-vector/16-fitness-gym-workout-healthy-260nw-342525584.jpg');  
background-size: cover;
background-position: center;
height: 100vh; /* Set the height to cover the entire viewport */
overflow: hidden;
}
  
  
  /* Add more styles as needed */
  