.q{
    margin-left: 400px;
}

.r{
    text-align: center;
}

.s{
    margin-left: 170px;
}

.j{
    margin-left: 80px;
    margin-right: 50px;
}

.l{
    margin-left: 150px;
}

.o{
    margin-left: 400px;
}
