.e{
    text-align: center;
}

.f{
    margin-left: 530px;
}

.g{
    background-image: url('https://png.pngtree.com/background/20221109/original/pngtree-green-and-gold-leaves-on-watercolor-background-picture-image_1954234.jpg');
    background-size: cover;
    background-position: center;
    height: 110vh;
    overflow: hidden;
}
.pro
{
    border: 2px solid black;
    margin-left: 102px;
    margin-right: 102px;
}